.piece-zone{
    background-color: rgba(246, 240, 242, 0.434);
    border-radius: 5px;
    width: 360px;
    height: 450px;
    margin: 10px;
    display:grid;
    grid-template-columns: repeat(4,90px);
    grid-template-rows:repeat(4,90px) ;
  }

  .tail{
      width:90px;
      height: 90px;
      display: grid;
      place-content: center;
      background-image:url("./image-pieces/wood.png");
      background-repeat: no-repeat;
      background-size: 90px 90px;
      
      
  }
  .red-piece{
      cursor: grab;
  }

  .red-piece:active{
    cursor:grabbing;
}
  
.green-piece{
    cursor:grab;
}
.green-piece:active{
    cursor:grabbing;
}