.piece-zone{
    background-color: rgba(246, 240, 242, 0.434);
    border-radius: 5px;
    width: 360px;
    height: 450px;
    margin: 10px;
    display:grid;
    grid-template-columns: repeat(4,90px);
    grid-template-rows:repeat(4,90px) ;
}

.tail{
 width:90px;
 height: 90px;
 display: grid;
 place-content: center;
 background-image:url("./image-pieces/wood.png");
 background-repeat: no-repeat;
 background-size: 90px 90px; 
}

.image{
 width: 90px;
 height: 60px;
 margin: 0px;
 text-align: center;
}


.red-piece{
 cursor: grab;
 /*transition-duration: 3s;*/
}

.red-piece:active{
 cursor:grabbing;
 /*transition-duration:  0s;*/
}
  
.green-piece{
 cursor:grab;
 /*transition-duration:  3s;*/
}

.green-piece:active{
 cursor:grabbing;
 /*transition-duration:  0s;*/
}

.button-icon{
 display: flex;
 flex-direction: row;
 padding: 0px;
}

.rotate{
 width:20px;
 height: 20px;
 cursor: pointer;
 background-image:url("./image-pieces/rotate-icon.png");
 background-repeat: no-repeat;
 background-size: 20px 20px;
}

.flip{
 width:20px;
 height: 20px;
 cursor: pointer;
 background-image:url("./image-pieces/flip.icon.png");
 background-repeat: no-repeat;
 background-size: 20px 20px; 
}