.board {
    outline:0px solid rgb(2, 2, 2);
    display:grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows:repeat(20,20px) ;
    width:400px;
    height: 400px;
  }
  
  .row {
    height: 20px;
  }
  
  .cell {
    outline: 2px solid rgb(87, 89, 92);
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 10px;
  }
  
